.Desktop-Navbar {
    display: flex;
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
    z-index: 99999;
    padding: 0;
}

.Desktop-Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 110px;
}

.Mobile-Navbar {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 110px;
}

.Desktop-Desktop-Navbar-1 {
    background-color: none;
    width: 223px;
    justify-content: center;
    align-items: center;
}

.Desktop-Navbar-1-Container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.Logo-Btn{
    width: 111px;
    height: 30px;
    margin-bottom: 0px;
}

.Left-Desktop-Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin-left: 47px;
}

.Right-Desktop-Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin-right: 47px;
}

.Desktop-Navbar-2 {
    background-color: none;
    width: 700px;
    display: flex;
    flex-direction: row;
}

.Desktop-Navbar-2-Btn-Container {
    display: flex;
    width: 25%;
    height: 100%;
    background-color: none;
    justify-content: center;
    align-items: center;
}

.Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.Desktop-Navbar-2-Btn-Container > .Text > a, .Desktop-Navbar-2-Btn-Container > .Text > a:hover {
    display: flex;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    text-decoration: none;
    color: white;
}

.Desktop-Navbar-2-Btn-Container > .Text > a:hover, .Desktop-Navbar-2 > .selected > .Text > a {
    opacity: 1;
}

.dot {
    display: none;
    position: absolute;
    margin-top: 45px;
    width: 12px;
    height: 12px;
}

.selected > .Text > .dot {
    display: flex;
}

.Desktop-Navbar-3 {
    display: flex;
    flex-direction: row;
    background-color: none;
    width: 200px;
}

.Desktop-Navbar-3 > .Desktop-Navbar-3-Container {
    display: flex;
    background-color: none;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Desktop-Navbar-3 > .Desktop-Navbar-3-Container > div > a > img {
    width: 28px;
    height: 28px;
    margin-top: 8px;
}

.Desktop-Navbar-4 {
    background-color: none;
    justify-content: right;
    width: 82px;
    padding-right: 10px
}

.Desktop-Navbar-4 > .Desktop-Navbar-4-Container {
    display: flex;
    background-color: none;
    width: 100%;
    height: 100%;
    justify-content: right;
    align-items: center;
}

.Desktop-Navbar-4 > .Desktop-Navbar-4-Container > div > a > img {
    margin-top: 8px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

@media screen and (max-width: 1350px) {
    .Desktop-Navbar {
        height: 100px;
    }

    .Desktop-Navbar-1 {
        width: 200px;
    }

    .Desktop-Navbar-2 {
        width: 600px;
    }

    .Desktop-Navbar-3 {
        width: 200px;
    }

    .Desktop-Navbar-4 {
        width: 82px;
    }  
    
    .dot {
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 1200px) {
    .Desktop-Navbar {
        height: 80px;
    }

    .Desktop-Navbar-1 {
        width: 150px;
    }

    .Desktop-Navbar-2 {
        width: 500px;
    }

    .Desktop-Navbar-3 {
        width: 150px;
    }

    .Desktop-Navbar-4 {
        width: 70px;
    }    

    .dot {
        width: 12px;
        height: 12px;
        margin-top: 44px;
    }

    .Logo {
        width: 100px;
        height: 25px;
    }

    .Desktop-Navbar-4 > .Desktop-Navbar-4-Container > div > a > img {
        width: 40px;
        height: 40px;
    } 
}

@media screen and (max-width: 1050px) {
    .Left-Desktop-Navbar {
        margin-left: 25px;
    }

    .Right-Desktop-Navbar {
        margin-right: 25px;
    }

}

@media screen and (min-width: 950px) {
    .Mobile-Navbar {
        display: none;
    }

    .Desktop-Navbar {
        display: flex;
    }
}

@media screen and (max-width: 950px) {
    .Mobile-Navbar {
        display: flex;
    }

    .Desktop-Navbar {
        display: none;
    }
}